/* book.css */

a:link {
    color: inherit;
}


a:visited {
    color: inherit;
}


a:hover {
    color: inherit;
}


a:active {
    color: inherit;
}

a{
	text-decoration: none;
}
h1{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 4.780%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #017100;
	letter-spacing: 0.200em;
	font-variant: normal;
	text-transform: uppercase;
	text-align: center;
	text-indent: 0;
	line-height: 1.375em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
p{
	margin: 0px;
}
sub{
	vertical-align: -10%;
	font-size: 67%;
}
sup{
	vertical-align: 33%;
	font-size: 67%;
}
@font-face{
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	font-variant: normal;
	src: url(../fonts/PingFangSC-Semibold.otf) format(opentype);
}
@font-face{
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-size: 112.500%;
	font-family: "PingFang SC";
	font-variant: normal;
	src: url(../fonts/PingFangSC-Medium.otf) format(opentype);
}
@font-face{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "Iowan Old Style";
	font-variant: normal;
	src: url(../fonts/IowanOldStyle-Roman.ttf) format(truetype);
}
@font-face{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 87.500%;
	font-family: "Songti SC";
	font-variant: normal;
	src: url(../fonts/STSongti-SC-Regular.ttf) format(truetype);
}
@font-face{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-family: "Times";
	src: url(../fonts/Times-Roman.ttf) format(truetype);
}
@font-face{
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-size: 87.500%;
	font-family: "Times";
	font-variant: normal;
	src: url(../fonts/Times-Bold.ttf) format(truetype);
}
@font-face{
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	font-variant: normal;
	src: url(../fonts/PingFangSC-Light.otf) format(opentype);
}
@font-face{
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-family: "Songti SC";
	src: url(../fonts/STSongti-SC-Bold.ttf) format(truetype);
}
@font-face{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 112.500%;
	font-family: "PingFang SC";
	font-variant: normal;
	src: url(../fonts/PingFangSC-Regular.otf) format(opentype);
}
.s1{
	background: transparent;
}
.s2{
	list-style: none;
}
.s3{
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 125%;
	font-family: "PingFang SC";
	color: #017100;
	letter-spacing: 0.200em;
	font-variant: normal;
	text-transform: uppercase;
	text-decoration: none;
	text-indent: 0;
	line-height: 1.375em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.s4{
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 100%;
	font-family: "PingFang SC";
	color: #017100;
	letter-spacing: 0.200em;
	font-variant: normal;
	text-transform: uppercase;
	text-decoration: none;
	text-indent: 0;
	line-height: 1.375em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p1{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 4.780%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #017100;
	letter-spacing: 0.200em;
	font-variant: normal;
	text-transform: uppercase;
	text-align: center;
	text-indent: 0;
	line-height: 1.375em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p2{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.787em;
	break-after: page;
	page-break-after: always;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p3{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "Futura";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 2.329em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p4{
	font-weight: 300;
	font-family: "PingFang SC";
	color: #004D80;
	line-height: 2.475em;
}
.p5{
	padding-left: 5.807%;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: -3.871%;
	line-height: 1.787em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p6{
	padding-left: 0;
	margin-top: 5.463%;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 2.731%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #004D80;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	text-indent: 0;
	line-height: 1.375em;
	break-after: page;
	page-break-after: always;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p7{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "Iowan Old Style";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.513em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p8{
	padding-left: 7.648%;
	margin-bottom: 0.000%;
	font-weight: 300;
	font-size: 87.500%;
	font-family: "PingFang SC";
	white-space: normal;
	text-align: justify;
	text-indent: -7.648%;
	line-height: 2.000em;
}
.p9{
	margin-bottom: 0.000%;
	font-weight: 300;
	font-size: 87.500%;
	font-family: "PingFang SC";
	white-space: normal;
	text-align: justify;
	line-height: 2.000em;
}
.p10{
	margin-bottom: 0.000%;
	font-size: 87.500%;
	font-family: "Songti SC";
	text-align: right;
	line-height: 2.000em;
}
.p11{
	padding-left: 0;
	margin-top: 5.463%;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 2.731%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #004D80;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	text-indent: 0;
	line-height: 1.375em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p12{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 2.731%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 112.500%;
	font-family: "PingFang SC";
	color: #017100;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	text-indent: 0;
	line-height: 1.389em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p13{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-size: 112.500%;
	font-family: "PingFang SC";
	color: #FF644E;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	text-indent: 0;
	line-height: 1.806em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p14{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 4.097%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #017100;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	text-indent: 0;
	line-height: 2.062em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p15{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 4.097%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 2.062em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p16{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.787em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p17{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.787em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p18{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 87.500%;
	font-family: "PingFang SC";
	color: #EE220C;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.857em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p19{
	margin-bottom: 1.917%;
	font-weight: 700;
	font-size: 87.500%;
	font-family: "Times";
	line-height: 1.286em;
}
.p20{
	font-weight: 600;
}
.p21{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #0433FF;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.787em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p22{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #FF2600;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.787em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p23{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.414%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "Songti SC";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.787em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p24{
	color: #0433FF;
}
.p25{
	padding-left: 0;
	margin-top: 6.146%;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 4.097%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 112.500%;
	font-family: "PingFang SC";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.806em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p26{
	font-weight: 600;
	color: #942192;
}
.p27{
	font-weight: 600;
	color: #0433FF;
}
.p28{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "Iowan Old Style";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.513em;
	break-after: page;
	page-break-after: always;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p29{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 1.917%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-size: 87.500%;
	font-family: "Times";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.286em;
	break-after: page;
	page-break-after: always;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p30{
	font-weight: 600;
	color: #FF2600;
}
.p31{
	color: #942192;
}
.p32{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 4.780%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #017100;
	letter-spacing: 0.200em;
	font-variant: normal;
	text-transform: uppercase;
	text-align: center;
	text-indent: 0;
	line-height: 1.375em;
	break-after: page;
	page-break-after: always;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p33{
	color: #000000;
}
.c1{
	background: transparent;
}
.c2{
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-family: "PingFang SC";
}
.c3{
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-family: "PingFang SC";
}
.c4{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-family: "Times";
}
.c5{
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-family: "PingFang SC";
	color: #FF2600;
}
.c6{
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-family: "PingFang SC";
	color: #0433FF;
}
.c7{
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-family: "PingFang SC";
	color: #942192;
}
.c8{
	color: #0433FF;
}
.c9{
	color: #FF2600;
}
.c10{
	color: #942192;
}
.c11{
}
.c12{
	font-size: 112.500%;
}
.c13{
	font-size: 106.250%;
}
.c14{
	color: #000000;
}
.c15{
	vertical-align: -0.286em;
	background: transparent;
}
.c16{
	color: #FF9300;
}
.c17{
	vertical-align: -0.286em;
	color: #FF2600;
	background: transparent;
}
.c18{
	font-size: 106.250%;
}
.c19{
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-family: "PingFang SC";
	color: #FF9300;
}
.c20{
	vertical-align: -0.312em;
	background: transparent;
}
.c21{
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-family: "Songti SC";
}
.c22{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-family: "PingFang SC";
}
.li1{
	list-style-type: disc;
	list-style-position: inside;
}
.b1:before{
	margin-left: -0.3em;
	padding-left: 2.950%;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "PingFang SC";
	color: #000000;
	font-variant: normal;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	content: "";
	text-shadow: none;
}
.body {
	width: 100%;
}
.underline {
	text-decoration: underline;
}
.orientation-opposed .underline {
	text-decoration: overline;
}
.strikethrough {
	text-decoration: line-through;
}
.underline-strikethrough {
	text-decoration: underline line-through;
}
.orientation-opposed .underline-strikethrough {
	text-decoration: overline line-through;
}

#reader-content, #page-shell, body {
  touch-action: pan-y;
}